<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>首页</title>
		<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1925733_36ehrjq2ono.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<link rel="stylesheet" type="text/css" href="css/new_file.css" />
	</head>
	<body>
		<div class="box">
			<img src="img/bj.png">
			<a href="#">
				<div class="box2"></div>
			</a>
			<div class="container">
				<div class="row">
					<ul class="nav nav-tabs">
						<li><a href="#">首页</a></li>
						<li><a href="new_file.html">学习规划</a></li>
						<li><a href="index3.html">菜鸟论坛</a></li>
						<li><a href="index2.html">参考手册</a></li>
						<li><a href="#">用户笔记</a></li>
						<li><a href="#">测验考试</a></li>
						<li><a href="#">本地书签</a></li>
						<li>
							<div class="inp"><input type="text" placeholder="请输入您想学习的教程" />
								<i class="iconfont icon-sousuo1"></i>
							</div>
						</li>
					</ul>
					<div class="dl">
						<a href="regist.html">登录&注册</a>
					</div>
				</div>
				<div id="app1">
				<div class="box1">
					<div class="tab-content" style="padding:10px">
						<!--data-offset="0" 微调间距-->
						<p id="HTML" class="tab-pane active fade in">
							<span>
								HTML/CSS学习路线
							</span><br><br><br><br><br>
							超文本标记语言是一种用于创建网页的标准标记语言。
							您可以使用 HTML 来建立自己的 WEB 站点，HTML 运行在浏览器上，由浏览器来解析。
							在本教程中，您将学习如何使用 HTML 来创建站点并通过使用 CSS 来提升工作效率！。
							他们很容易学习！相信您能很快学会它们.<br><br>
							<a href="学习线路资料.zip" download="学习线路资料.zip" style="color: white">
								<i class="iconfont icon-xiazai1"></i>
							</a>
						</p>
						<p id="CSS" class="tab-pane fade">
							<span>
								JavaScript学习路线
							</span><br><br><br><br><br>
							JavaScript 是 Web 的编程语言。所有现代的 HTML 页面都使用 JavaScript。
							JavaScript 非常容易学。本教程将教你学习从初级到高级 JavaScript 知识。
							基本上，您将学习到如何选取 HTML 元素，以及如何对它们执行类似隐藏、移动以及操作其内容等任务。式和布局.<br><br>
							<a href="学习线路资料.zip" download="学习线路资料.zip" style="color: white">
								<i class="iconfont icon-xiazai1"></i>
							</a>
						</p>
						<p id="Jquery" class="tab-pane fade">
							<span>
								服务端学习路线
							</span><br><br><br><br><br>
							服务端是为客户端服务的，服务的内容诸如向客户端提供资源，保存客户端数据。是实现游戏特色化的重要途径，
							也是最直接可以通过游戏表现出来的技术，比如你要修改某个NPC的参数，重加载后，在游戏内立刻体现出来。它包
							括四大项目,脚本技术,引擎插件技术,创意设计,机器技术.<br><br>
							<a href="学习线路资料.zip" download="学习线路资料.zip" style="color: white">
								<i class="iconfont icon-xiazai1"></i>
							</a>
						</p>
						<p id="Extjs" class="tab-pane fade">
							<span>
								数据库学习路线
							</span><br><br><br><br><br>
							数据库是一个实体，它是能够合理保管数据的“仓库”，用户在该“仓库”中存放要管理的事务数据，“数据”和“库”两个概念结合成为数据库。
							数据库是数据管理的新方法和技术，它能更合适的组织数据、更方便的维护数据、更严密的控制数据和更有效的利用数据.<br><br>
							<a href="学习线路资料.zip" download="学习线路资料.zip" style="color: white">
								<i class="iconfont icon-xiazai1"></i>
							</a>
						</p>
						<p id="Prototype" class="tab-pane fade">
							<span>
								移动端学习路线
							</span><br><br><br><br><br>
							移动端是指通过无线网络技术上网接入互联网的终端设备，主要功能是移动上网，因此十分依赖于各种网络。其优点是足够用、性价
							比高。移动互联网时代终端的发展呈现出3个明显的发展趋势，一是紧紧围绕用户需求，为用户提供全方位的服务和体验，趋向终端与
							服务一体化；二是实现终端多样化；三是代表着时代终端融合的必然趋势。<br><br>
							<a href="学习线路资料.zip" download="学习线路资料.zip" style="color: white">
								<i class="iconfont icon-xiazai1"></i>
							</a>
						</p>
						<p id="XML" class="tab-pane fade">
							<span>
								XML教程学习路线
							</span><br><br><br><br><br>
							可扩展标记语言与Access，Oracle和SQL Server等数据库不同，数据库提供了更强有力的数据存储和分析能力，例如：数据索引、排序、
							查找、相关一致性等，可扩展标记语言仅仅是存储数据。事实上它与其他数据表现形式最大的不同是：可扩展标记语言极其简单，这是一个
							看上去有点琐细的优点，但正是这点使它与众不同。<br><br>
							<a href="学习线路资料.zip" download="学习线路资料.zip" style="color: white">
								<i class="iconfont icon-xiazai1"></i>
							</a>
						</p>
						<p id="ASP" class="tab-pane fade">
							<span>
								ASP.NET学习路线
							</span><br><br><br><br><br>
							ASP 指 Active Server Pages （动态服务器页面）ASP 是一项微软公司的技术ASP 是在 IIS 中运行的程序IIS 指 Internet Information Services （Internet
							信息服务）
							IIS 是 Windows 2000 及 Windows 2003 的免费组件IIS 同时也是 Windows NT 4.0 的可选组件此可选组件可通过因特网下载
							PWS 的体积更小 - 不过拥有 IIS 的完整功能<br><br>
							<a href="学习线路资料.zip" download="学习线路资料.zip" style="color: white">
								<i class="iconfont icon-xiazai1"></i>
							</a>
						</p>
					</div>
					
					<ul class="nav nav-tabs">
						<li v-for="item in lis"><a data-toggle="tab" :href="item.sid">{{item.name}}</a></li>
					</ul>
				</div>	
				</div>
			</div>
		</div>
		
		<div class="main">
			<div id="app">
				<div class="main-box">
					<div class="main-title">
						<div class="title-left">
							学习路线<span>Core Lines</span>
						</div>
						<div class="title-right title-right1">
							<a href="new_file.html" style="color: white;">了解更多</a>
						</div>
					</div>
					<div class="main-nav">
						<div class="nav1">
							<todo></todo>                                  <!-- --------------------------组件--------------------------------- -->
						</div>
					</div>
				</div>
			</div>
			<div class="main-box1">
				<div class="main-title">
					<div class="title-left">
						热门课程<span>Hot Courses</span>
					</div>
					<!-- <div class="title-right">了解更多</div> -->
				</div>
				<div class="course-hot">
					<ul class="course-list ">
						<div id="app3">
						<cpn1></cpn1>
						</div>
					</ul>
				</div>
			</div>
			<div class="main-box2">
				<div class="main-title">
					<div class="title-left">
						讲师团队<span>Faculty teams</span>
					</div>
					<div class="title-right">
						<a href="new_file.html" style="color: white;">查看详情</a>
					</div>
				</div>
				<div id="app2">
				<cpn></cpn>
			  </div>
			</div>
		</div>
		<div class="box5">
			<a href="#">
				<img src="img/12.png" height="42px" width="205px">
			</a>
			<div class="word1">
				<p>在线实例<br>字符集&工具</p>
				<h2>最近的更新</h2>
				<h5>Vue3 Ajax(axios)
					<br>Vue3 混入
					<br>Vue3 路由
					<br>Vue3 自定义指令
					<br>HTML img loadin...</h5>
			</div>
			<div class="word2">
				<h5>站点信息</h5>
				<p>意见反馈
					<br>免责声明
					<br>关于我们
					<br>文章归档
					<h1>标签</h1>
					<div id="id">
						<div>HTML</div>
						<div>CSS</div>
						<div>JS</div>
						<div>Ajax</div>
						<div class="four">XML</div>
						<div>JQuery</div>
						<div class="one">Vue</div>
					</div>
			</div>
		</div>
		<div class="copyright">
			<p>Copyright © 2013-2021 菜鸟教程 runoob.com All Rights Reserved. 备案号：闽ICP备15012807号-1</p>
		</div>
		</div>

		<template id="todo">
			<div>
			<div class="col-md-4 col-xs-6" v-for="item in lines">
				 <a href=" index2.html">
				<div class="text" >
					<p>{{item.id}}</p>
					<span>{{item.name}}</span>
				</div>
				</a>
			</div>
			</div>
		</template>
		
		<template id="cpn">
			<div>
			<div class="col-md-4 col-xs-6" v-for="item in boxs">
				<div class="text1">
					<div class="tx" :style="{'background-image':item.bgcolor}"></div>
					<span>{{item.name}}</span>
					<p>{{item.experience}}</p>
				</div>
			</div>
			</div>
		</template>
		
		<template id="cpn1">
			<div>
			<li v-for="(item,key) in messages">
			<div class="img">
				<img :src="item.url" alt="" style="width: 326px;height: 150px;">
				<p>{{item.name}}</p>
				<div class="level clearfix">
					<span class="fl">{{item.level}}</span>
					<i class="iconfont icon-huo fr"></i>
					<i class="iconfont icon-huo fr"></i>
					<i class="iconfont icon-huo fr"></i>
				</div>
				<div class="person clearfix">
					<span class="fl">
						<i class="iconfont icon-renshu fl">{{item.number}}</i>
					</span>
					<span class="fr">
						{{item.price}}
					</span>
				</div>
			</div>
			</li>
			</div>
		</template>
		<script type="text/javascript">
			const todo={
				template:'#todo',
				data(){
					return {
						lines: [
							{
								id:'学习HTML/CSS',name:'HTML，即超文本标记语言（Hyper Text Markup Language）'
							}, 
							{
								id:'学习JavaScript/JQ',name:'HTML5 是下一代 HTML 标准'
							},
							{
								id:'学习移动端',name:'层叠样式表（Cascading StyleSheet）'
							},
							{
								id:'学习框架语言',name:'CSS3是CSS技术的升级版本'
							},
							{
								id:'学习数据库',name:'Bootstrap，来自 Twitter，是目前最受欢迎的前端框架'
							},
							{
								id:'学习node.js',name:'Bootstrap4 目前是 Bootstrap 的最新版本'
							},
			      ]
					}
				}
			}
			new Vue({
				el: '#app',
				data: {
				},
				components: {
					todo
				}
			})
			
			
			new Vue({
				el: '#app1',
				data: {
						lis:[
							{sid:'#HTML',name:'HTML/CSS'},
							{sid:'#CSS',name:'JavaScript'},
							{sid:'#Jquery',name:'服务端'},
							{sid:'#Extjs',name:'数据库'},
							{sid:'#Prototype',name:'移动端'},
							{sid:'#XML',name:'XML教程'},
							{sid:'#ASP',name:'ASP.NET'},
						]
				},
			})
			
			
			
			const cpn={
				template:'#cpn',
				data(){
					return {
						boxs:[
							{name:'张xx',experience:'毕业于北京交通大学。10多年的网络管理、运维、架构经验。4年信息技术管理工作经验，2年信息系统部署经验，5年开源技术培训经验。擅长Linux系统运维、运维自动化等云计算领域。',bgcolor:'linear-gradient(to bottom right,#94BEF7,#A2DFFE)'},
							{name:'王xx',experience:'具有10年以上Linux使用及管理经验，Linux授课讲师。精通Shell脚本、MySQL数据库、基于 Linux系统下的LB集群、HA集群等。拥有丰富的服务器集群部署、监控及维护经验。',bgcolor:'linear-gradient(to bottom right,#A297F8,#CCBCFC)'},
							{name:'赵xx',experience:'精通小型机，服务器，路由器，交换机等企业级设备管理和维护。精通Oracle，Mysql等主流数据库。精通Linux系统运维和大型环境架构。',bgcolor:'linear-gradient(to bottom right,#F2A28F,#FCC4B3)'},
							{name:'李xx',experience:'毕业于北京交通大学。国内云计算先驱红帽认证讲师(RHCI)大中华区首批红帽认证架构师(RHCA) 、全国第十二个红帽认证安全专家(RHCSS) 、红帽认证虚拟化管理员(RHCVA) 。',bgcolor:'linear-gradient(to bottom right,#FAC1EB,#FED7EC)'},
							{name:'韩xx',experience:'毕业于北京师范大学，从事4年软件开发编程工作，有5年的教学经验，熟悉各种Java主流开源框架Struts2、Hibernate、SpringMVC、Mybatis的使用。',bgcolor:'linear-gradient(to bottom right,#FEC481,#FDE4A1)'},
							{name:'陈xx',experience:'多年企业网络及系统运维经验，以及多年的IT职业教育教学经验。精通交换机原理和大型企业网络环境构建，精通系统攻防原理和实际应用。',bgcolor:'linear-gradient(to bottom right,#94E59D,#CBF5A1)'},
							
						]
					}
				}
			}
			new Vue({
				el: '#app2',
				data: {
				},
				components: {
					cpn
				}
			})
			
			const cpn1={
				template:'#cpn1',
				data(){
					return {
						messages:[
							{url :'./img/1.png',name:'Docker实战视频教程入门到高级dockerfile',level:'级别：中级',number:'23186人',price:'¥59.8'},
							{url:'./img/2.png',name:'ssm新版SpringBoot2.3/spring5/mybatis3',level:'级别：高级',number:'64564人',price:'¥68'},
							{url:'./img/3.png',name:'微服务Dubbo+SpringBoot2.X优惠券项目实战',level:'级别：高级',number:'34643人',price:'¥148.8'},
							{url:'./img/4.png',name:'SpringBoot 2.x微信支付在线教育网站项目实战',level:'级别：中级',number:'31556人',price:'¥99'},
							{url:'./img/5.png',name:'Docker实战视频教程入门到高级dockerfile',level:'级别：中级',number:'15685人',price:'¥108.6'},
							{url:'./img/6.png',name:'ssm新版SpringBoot2.3/spring5/mybatis3',level:'级别：中级',number:'61655人',price:'¥64.5'},
							{url:'./img/7.png',name:'SpringBoot 2.x微信支付在线教育网站项目实战',level:'级别：中级',number:'34875人',price:'¥139.4'},
						]
					}
				},

			}
			new Vue({
				el: '#app3',
				data: {
				},
				components: {
					cpn1
				}
			})
		</script>
		<script type="text/javascript">
			var flag = true;
			var num = 0;
			var course = $('.course-hot');
			var img = $('.course-list img')
			console.log(img)
			// 自动向后滚动
			function scrolls() {
				if (num <= 0) flag = true;
				if (num >= 1226) flag = false;
				flag ? num++ : num--;
				$('.course-hot').scrollLeft(num)
			}
			var timer = setInterval(scrolls, 10);
			// 优化误触用户体验
			// var flg = false
			$('.course-list li').mouseover(function(a, b) {
				timer2 = setTimeout(function() {
					clearInterval(timer);
				}, 500);
			})

			$('.course-list li').on('mouseout', function() {
				clearInterval(timer);
				clearTimeout(timer2);
				timer = setInterval(scrolls, 10);
			})
			// 滚动条横向拉动效果
			var flg = false;
			$('.course-list').on('mousedown', function(e) {
				var e = e || window.event;
				clearInterval(timer);
				flg = true;
				var posX = e.screenX;
				$(document).on('mouseup', function() {
					clearInterval(timer);
					flg = false;
					$(this).unbind();
					timer = setInterval(scrolls, 10);
				})

				$(document).on('mousemove', function(e) {
					var e = e || window.event;
					clearInterval(timer);
					var posL = e.clientX; //滚动后鼠标的位置
					moveX = posL - posX; //鼠标拖动距离
					num = $('.course-hot').scrollLeft(); //当前的scrollLeft值
					num += -moveX;
					if (num <= 0) {
						num = 0;
					} else if (num >= 1226) {
						num = 1226;
					}
					if (flg) {
						$('.course-hot').scrollLeft(num)
					}
				})
			})
		</script>
	</body>
</html>
